/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* regole header */

header{
    /* debug */
    min-height: 500px;
    background-color: blue;
    font-size: 50px;
}

 nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    /* debug */
    background-color: chocolate;
}

.banner{
    margin:50px 30%;
    /* debug */
    min-width: 300px;
    min-height: 200px;
    background-color: crimson;

}

/* regole main */

.sfondo{
    display: flex;
    padding: 30px 15% ;
    justify-content: flex-start;
}
.img-home{
    /* debug */
    min-width: 1000px;
    min-height: 400px;
    background-color: rgb(9, 17, 1);
}

.testo{
    /* debug */
    min-width: 300px;
    min-height: 400px;
    background-color: chartreuse;
}

.grey{
    background-color: grey;
}

.reverse{
    flex-direction: row-reverse;
    justify-content: flex-end;
}